[submodule "src-svelte/static/fonts"]
	path = src-svelte/static/fonts
	url = https://github.com/amosjyng/zamm-fonts.git
[submodule "forks/neodrag"]
	path = forks/neodrag
	url = https://github.com/amosjyng/neodrag.git
[submodule "forks/async-openai"]
	path = forks/async-openai
	url = https://github.com/amosjyng/async-openai.git
[submodule "forks/rvcr"]
	path = forks/rvcr
	url = https://github.com/amosjyng/rvcr.git
[submodule "forks/ollama-rs"]
	path = forks/ollama-rs
	url = https://github.com/zamm-dev/ollama-rs.git
